.group
{
    margin: 10px 0;
}

.group_align_right
{
    text-align: right;
}

.group .label
{
    min-width: 230px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
}

.group__text
{
    color: #777;
    padding: 10px;
    border-left: 3px solid #ffdb4d;
    margin: 10px 0;
}

.group__line
{
    color: #777;
    padding: 10px;
    border-left: 3px solid #ffdb4d;
    display: inline-block;
    min-width: 250px;
}

.group__val
{
    display: inline-block;
}

.group .select_theme_islands
{
    vertical-align: middle;
}
