# Dependency directory
node_modules
client/public/libs
#Temporary vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
#Bash scripts
*.sh
#Windows bats
*.bat

bank/public/libs
bank/public/build

jsconfig.json
.idea/