.reg-form
{
    transition: all 1s;
    position: absolute;
    width: 700px;
    margin-top: 20px;
    margin-left: -400px;
    left: 50%;
    opacity: 1;
}

.reg-form_hide
{
    opacity: 0;
    left: 100%;
}

.reg-form .input
{
    margin: 10px 0;
}
