.credit-new
{
    margin: 0 auto;
    width: 300px;
    display: none;
}

.credit-new_show_yes
{
    display: block;
}

.credit-new__group .label
{
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

.credit-new__group
{
    margin: 5px 0;
}

.credit-new .button
{
    display: block;
    margin: 20px auto;
}
