.type-item_hide
{
    display: none;
}

.type-item__title
{
    font-size: 18px;
}

.type-item__title,
.type-item__description
{
    border-left: 3px solid #ffdb4d;
    padding: 10px;
}

.type-item__interest,
.type-item__sum,
.type-item__time
{
    color: #777;
    margin: 5px 0;
}
