.main-left
{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 100%;
    border-right: 1px solid #ccc;
}

.main-left_hide
{
    display: none;
}

.menu-item_active_yes
{
    background-color: #ffdb4d;
}

.main-left__reset
{
    display: none;
}
