doctype html
html
    head
        link(href='/public/styles/style.css', rel='stylesheet')
        title 404
    body
        h1 404
        h2 This is not the page you're looking for.
        p Move along...