doctype html
html
    head
        link(href='public/libs/materialize/dist/css/materialize.min.css', rel='stylesheet')
        link(href='public/styles/style.css', rel='stylesheet')
        script(src='public/libs/jquery/dist/jquery.min.js')
        script(src='public/libs/materialize/dist/js/materialize.min.js')
        script(src='public/libs/requirejs/require.js', data-main='public/js/main.js')
        title Mammonbank
