header,
main,
aside,
footer {

}

body {
    background: #ebeef0;
    overflow: hidden;
}

header {
    padding: 0 1em;
    height: 2.5em;
    line-height: 2.5em;
    background: #37444e;
    color: white;
}

table {
    margin: 2em auto;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid white;
}

table th, table td {
    border: 1px solid white;
}

th, td {
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#welcome-msg {
    cursor: pointer;
}

#welcome-msg:hover {
    text-decoration: underline;
}

#logout-btn {
    float: right;
    cursor: pointer;
}

#logout-btn:hover {
    text-decoration: underline;
}

#currentTime {
    display: block;
    text-align: right;
    padding-right: 1em;
    border-bottom: 1px solid white;
}

#bankInfo {
    font-size: 18px;
}

#bankInfo span {
    display: block;
}

aside {
    background: #37444e;
    color: white;
    padding: 2em 0.5em;
    float: left;
    position: absolute;
    top: 2.5em;
    bottom: 0;
    width: 15%;
    box-sizing: border-box;
}

#activitiesList li {
    margin-top: 1em;
    border-top: 1px solid white;
}

#activitiesList li:hover {
    text-decoration: underline;
    cursor: pointer;
}


main {
    float: right;
    width: 85%;
    position: absolute;
    top: 3.5em;
    bottom: 0;
    left: 15%;
    padding: 0.5em;
    box-sizing: border-box;
    overflow-y: auto;
}

.infoWrapper {
    background: white;
    padding: 0.5em;
    padding-bottom: 2.5em;
}

.infoTable {
    margin: 0 auto;
}

.infoTable, .infoTable th, .infoTable td {
    border: 1px solid #37444e;
}

.totalCount {
    display: block;
    margin-bottom: 1em;
    text-align: right;
}

.underscore {
    cursor: pointer;
}

.underscore:hover {
    text-decoration: underline;
}

.green {
    background: rgba(76,175,80,.9);
    color: white;
}

.red {
    background: rgba(244,67,54,.8);
    color: #ffffff;
}

.decision-button {
    cursor: pointer;

}

.decision-button:hover {
    text-decoration: underline;
}

.form-create {
    margin-top: 1em;
}

.title-create {
    display: block;
    margin-top: 2em;
    margin-left: 1em;
    font-size: 32px;
    color: #0078e7;
}
