@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../fonts/SourceSansPro-Light.otf');
}

html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 1;
    background: #37444e;
    overflow: hidden;
}

canvas {
    display: block;
}

.title-404 {
    font-size: 116px;
    color: #ffffff;
    text-align: center;
}

.msg-404 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
}