.loader {
    font-size: 10px;
    border-top: 1.1em solid rgba(55, 68, 78, 0.2);
    border-right: 1.1em solid rgba(55, 68, 78, 0.2);
    border-bottom: 1.1em solid rgba(55, 68, 78, 0.2);
    border-left: 1.1em solid #37444e;
    animation: load8 1.1s infinite linear;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.loader,
.loader:after {
    display: inline-block;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    background: white;
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
