.step0
{
    transition: all 1s;
    width: 800px;
    margin-top: 20px;
    margin-left: -400px;
    position: absolute;
    left: 50%;
    opacity: 1;
}

.step0__title
{
    font-size: 18px;
    font-weight: bold;
}

.step0__agreement
{
    word-break: break-word;
    padding: 15px;
    text-align: justify;
    line-height: 20px;
    border: 1px solid #ccc;
    margin: 30px;
}

.step0 .button_view_action
{
    float: right;
}

.step0_hide
{
    left: -50%;
    opacity: 0;
}
